<IfModule mod_rewrite.c>

  RewriteEngine on

  RewriteCond %{SERVER_PORT} !^443$ [NC]
  RewriteRule ^(.*)$ https://bretterwelten.de/$1 [r=301,L]

  RewriteCond %{HTTP_HOST} ^www\.bretterwelten\.de$ [NC]
  RewriteRule ^(.*)$ https://bretterwelten.de/$1 [r=301,L]

  RewriteBase /

</IfModule>